@tailwind base;
@tailwind components;
@tailwind utilities;

/* change bg to 9, 9, 49 */
body {
  background-color: rgb(9, 9, 49);
  color: #fff;
}
.canvas-cursor {
  opacity: 0.9;
  border-radius: 50%;
  background-color: rgb(59, 10, 157); 
  border: 1px solid rgb(194, 194, 194);
  position: absolute;
  transition: transform 0.1s ease-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
